# Ignorar checkpoints do Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Ignorar arquivos de configuração local e senhas
.env

# Ignorar configurações do VS Code (opcional, mas recomendado)
.vscode/